
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Città</title>
    <style>
        center img{
            max-height:80px;
        }  
        table.social_network img{
            height:50px;
        }
    </style>
  </head>
  <body>
    <span class="preheader"></span>
    <table class="body">
      <tr>
        <td class="center" align="center" valign="top">
          <center data-parsed="">
            
            <table align="center" class="container float-center"><tbody><tr><td>
              <table class="row"><tbody><tr>
                <th class="small-12 large-4 columns first"><table><tr><th>
                  <center data-parsed="">
                    <img src="../static-templates/assets/img/logos/citta.jpg" align="center" class="float-center">
                      <p></p> <!--space between logos-->
                      <img src="../static-templates/assets/img/logos/cdp.png" align="center" class="float-center spacer">
                  </center>
                </th></tr></table></th>
              </tr></tbody></table>
              <table class="row"><tbody><tr>
                  <th class="small-12 large-8 columns"><table><tr><th>
                      <h1 class="text-center">Città your "compagnie de provence" products choosen</h1>
                      </th></tr></table></th>
              </tr></tbody></table>
            
              <table class="spacer"><tbody><tr><td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td></tr></tbody></table> 
            
              <table class="row"><tbody><tr>
                <th class="small-12 large-12 columns first last"><table><tr><th>
                  <h3 class="text-center">Event Melbourne B2B</h3>
                  <h3 class="text-center">Dear {{ firstname }}</h3>
                    <p class="text-center">In this B2B event, you visited our stands, products and collections caught your attention. Below you will find the list of products and collections you have chosen via the application.</p>
                </th>
<th class="expander"></th></tr></table></th>
              </tr></tbody></table>

              {{#if listProducts}}
              <table class="row"><tbody><tr>
                  {{#each listProducts}}
                <th class="small-12 large-4 columns first"><table><tr><th>
                  <center data-parsed="">
                      <img src="../static-templates/assets/img/logos/cdp.png" align="center" class="float-center spacer">
                  </center>
                  <h5 class="text-center">Product {{@index}} with ID : {{this}}</h5>
                  <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, quod quam unde earum.</p>
                </th></tr></table></th>
                {{/each}}
              </tr></tbody></table>
              {{/if}}
<!--
                <table class="row"><tbody><tr>
                    <th class="small-12 large-4 columns first"><table><tr><th>
                        <center data-parsed="">
                            <img src="../static-templates/assets/img/logos/cdp.png" align="center" class="float-center spacer">
                        </center>
                        <h5 class="text-center">Product 4</h5>
                        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, quod quam unde earum.</p>
                        </th></tr></table></th>
                    <th class="small-12 large-4 columns first"><table><tr><th>
                        <center data-parsed="">
                            <img src="../static-templates/assets/img/logos/cdp.png" align="center" class="float-center spacer">
                        </center>
                        <h5 class="text-center">Product 5</h5>
                        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, quod quam unde earum.</p>
                        </th></tr></table></th>
                    <th class="small-12 large-4 columns first"><table><tr><th>
                        <center data-parsed="">
                            <img src="../static-templates/assets/img/logos/cdp.png" align="center" class="float-center spacer">
                        </center>
                        <h5 class="text-center">Product 6</h5>
                        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, quod quam unde earum.</p>
                        </th></tr></table></th>
                    </tr></tbody></table>
                  -->
              <table class="spacer"><tbody><tr><td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td></tr></tbody></table> 
            
              <table class="row"><tbody><tr>
                <th class="small-12 large-12 columns first last"><table><tr><th>
                  <h3 class="text-center">Do you want visit our website for more details ?</h3>
                  
                  <table class="spacer"><tbody><tr><td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td></tr></tbody></table> 
            
                    <table class="button large expand"><tr><td><table><tr><td><center data-parsed=""><a href="https://www.cittadesign.com/" target="_blank" align="center" class="float-center">Città event b2b website</a></center></td></tr></table></td>
<td class="expander"></td></tr></table>
                </th>
<th class="expander"></th></tr></table></th>
              </tr></tbody></table>
            
              <table class="row collapsed footer"><tbody><tr>
                <th class="small-12 large-12 columns first last"><table><tr><th>
<!--
                    <p class="text-center">Copyright © 2018 Città<br>
                  <a href="#">contact@citta.com</a> | <a href="#">Manage Email Notifications</a> | <a href="#">Unsubscribe</a></p>
-->
                  <center data-parsed="">
                    <table align="center" class="menu social_network float-center"><tr><td><table><tr>
                        <th class="menu-item float-center"><a href="https://www.facebook.com/citta" target="_blank"><img src="../static-templates/assets/img/logos/facebook.png" alt="citta facebook"></a></th>
                        <th class="menu-item float-center"><a href="https://www.instagram.com/citta/" target="_blank"><img src="../static-templates/assets/img/logos/insta.png" alt="citta instagram"></a></th>
                        <th class="menu-item float-center"><a href="https://www.pinterest.nz/cittadesign/" target="_blank"><img src="../static-templates/assets/img/logos/pinterest.png" alt="citta pinterest"></a></th>
                        <th class="menu-item float-center"><a href="https://www.youtube.com/user/CittaDesign" target="_blank"><img src="../static-templates/assets/img/logos/youtube.png" alt="citta youtube"></a></th>
                    </tr></table></td></tr></table>
                  </center>
                </th>
<th class="expander"></th></tr></table></th>
              </tr></tbody></table>
            
              <table class="spacer"><tbody><tr><td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td></tr></tbody></table> 
            
            </td></tr></tbody></table>
            
          </center>
        </td>
      </tr>
    </table>
    <!-- prevent Gmail on iOS font size manipulation -->
   <div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
  </body>
</html>

